.gallery {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery img {
    max-width: 250px;
    max-height: 400px;
}

.gallery li {
    flex: 0 0 30%;
    margin-bottom: 5%;
    display: flex;
    overflow: hidden;
}

.gallery li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    padding: 0.5em;
    border: 0.5em solid #000;
}

.gallery img {
    display: block;
    width: 90%;
    height: auto;
}