.site-nav {
    margin: 0;
    padding: 0;
}

.site nav > ul {
    display: flex;
    padding: 0;
}

.site-nav li {
    display: block;
    list-style: none outside;
    padding: 0 0.5em;
}

.site-nav li:first-child {
    padding-left: 0;
}

.site-nav a {
    display: block;
    padding: 0.1em 0.1em;
    border-radius: 0.3em;
    background: #5f5f5f;
}

.site-nav a:hover {
    background: var(--color-link-default);
    color: var(--color-body-bgrd);
}